@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css?family=Anton');
:root {
    font-family: 'Gamja Flower', cursive;
    font-size: 26px;
}
html {
    background-color: #f5f4ff;
}
body {
    max-width: 980px;
    margin: 0 auto;
}
header {
    background-image: url(../img/laptop.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    height: 600px;
}
.menu1 {
    width: 100%;
    display: inline-block;
    font-family: 'Anton', sans-serif;
    text-shadow: 1px 1px 2px black;

}
.menu1 a {
    text-decoration: none;
    height: 10px;
    width: auto;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
}
.menu1 :hover {
    color: black;
    background-color: white;
}
.dropdown{
    display: none;
}
#Ruslan {
    font-size: 3em;
    color: white;
    margin-right: 900px;
    text-shadow: 5px -1px 12px black;
}
#Overko {
    font-size: 3em;
    color: white;
    margin-right: 900px;
    text-shadow: 5px -1px 12px black;
}
header .btn {
    text-decoration: none;
    color: white;
}
header nav {
    display: inline-block;
    margin-bottom: 250px;
}
header .burg {
    display: none;
}
h1,
h2,
h3 {
    font-family: 'Anton', sans-serif;
    text-align: center;
}
#about_me {
    background: linear-gradient(#b0e0e6, #3c8b92);
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    margin-top: 7px;
    text-shadow: 1px 1px 2px black;
}
#about_me div {
    width: 100%;
    border:2px solid white;
    
}
#about_me img {
    width: 100%;
    border:2px solid white;
}
#about_me span,
#about_me p {
    display: block;
    font-size: 27px;
    padding-left: 10px;
    padding-right: 5px;
    
}
#education {
    background: linear-gradient(#3c8b92, #b0e0e6);
    color: white;
    margin-top: 5px;
    text-shadow: 1px 1px 2px black;
   
}
#experience{
    background: linear-gradient(#b0e0e6, #3c8b92);
    margin-top: -20px;
    margin-bottom: -20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}
#somePictures{
    background: linear-gradient(#3c8b92, #b0e0e6);
    text-shadow: 1px 1px 2px black;
    color: white;
    margin-bottom: 7px;
}
#portfolio {
    background: linear-gradient(#b0e0e6, #3c8b92);
    text-shadow: 1px 1px 2px black;
    color: white;
    margin-top:15px;
}
#portfolio img {
    margin: 17px 17px 17px 17px;
}
#favorite_phrases{
    margin-top: 7px;
    background: linear-gradient(#3c8b92, #b0e0e6);
    text-shadow: 1px 1px 2px black;
    color: white;
}
#feedback {
    margin-top: 7px;
    margin-bottom: 7px;
    background: linear-gradient(#b0e0e6, #3c8b92);
    font-size: 35px;
    color: white;
}
#contact {
    background: linear-gradient(#3c8b92, #b0e0e6);
    text-shadow: 1px 1px 2px black;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}
#contact p {
    display: inline;
}
#feedback{
text-shadow: 1px 1px 2px black;
}
#feedback .like-site {
    text-align: center;
}
#feedback form input,
#feedback form textarea,
.submit_btn{ 
    text-shadow: 1px 1px 2px black;
}
.projects{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
.projects div a{
    color: white;
    text-decoration: none;
}
.projects div a h4{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
    text-align: center;
}
.projects div img{
    text-align: center;
    width: 170px;
    height: 90px;
}
.projects div a p{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 22px;
    text-align: center;
}

.show{
    padding: 0;
}
.s{
    margin-left: 10px;
    font-size: 70px;
    text-decoration: none;
    text-shadow: 32px -12px 5px black;
}
.fa-youtube{
    color: red;
}

.carousel-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.comment {
    margin-left: 25px;
}
.form-row {
    background-color: #3c8b92;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}
.write_me {
    background-color: #3c8b92;
    color: white;
    margin-bottom: 0;
}
#feedback h2 {
    padding-top: 13px;
}
form div input {
    flex: 1;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
form div {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;

}
textarea {
    height: 200px;
    width: 100%;
    resize: none;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.submit_btn {
    margin: 20px auto;
    display: block;
    padding: 10px 16px;
    border: 1px solid white;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    color: #3c8b92;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.st_btn {
    padding-bottom: 10px;
}
.carousel-indicators{
    bottom: -5px;
}
#contact div p{
   padding: 10px;
   text-align: center;
}





.accordion {
    max-width: 990px;
    height: 300px;
    margin: 20px auto;
    display: flex;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 7px;
}
.box {
    position: relative;
    height: 100%;
    flex: 1;
    background-position: left;
    background-size: cover;
    transition: .7s;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}
.box:hover{
    flex: 3.5;
    height: 450px;
}
.a1 {
    background-image: url(/img/a.jpg);
}
.a2 {
    background-image: url(/img/c.jpg);
}
.a3 {
    background-image: url(/img/e.jpg);
   
}
.a4 {
    background-image: url(/img/d.jpg);
  
}
.a5 {
    background-image: url(/img/b.jpg); 
}


@media screen and (max-width: 800px){
   
    .accordion {
        flex-direction: column;
        height: 700px;
        box-shadow: none;
    }
    .box {
        box-shadow: none;
    }
    .box:hover {
        flex: 7;
    }
}

















@media only screen and (max-width: 980px) {
    #about_me {
        display: block;
    }
    .menu1 a{
        font-size: 22px;
    }
}

@media only screen and (max-width: 900px) {

    .menu1 {
        display: none;
    }
    header nav {
        display: none;
    }
    
    .dropdown{
    display:block;
    float: right;
    width: auto;
}
#dropdownMenu2{
    background-color: white;
    color: black;
    font-family: 'Anton', sans-serif;
    margin: 15px;
}
.dropdown-item{
    background-color: white;
    color: black;
    font-family: 'Anton', sans-serif;
}

.dropdown-menu.show{
    transform: translate3d(-118px, 76px, 0px);
}
form div{
    display: block;

}
input{
    width: 100%;
}
}

